.class
/Java_Projects/IMAAggregator/build/
/Java_Projects/IMAAggregator/dist/
/Java_Projects/IMAAggregator/nbproject/private/
/Java_Projects/MicazAggregator/build/
/Java_Projects/MicazAggregator/dist/
/Java_Projects/MicazAggregator/nbproject/private/
/Main_Code/IMAAggregator/build/
/Main_Code/IMAAggregator/dist/
/Main_Code/IMAAggregator/nbproject/private/
/Main_Code/MicazAggregator/build/
/Main_Code/MicazAggregator/dist/
/Main_Code/MicazAggregator/nbproject/private/
/Main_Code/RegistryUnit/build/
/Main_Code/RegistryUnit/dist/
/Main_Code/RegistryUnit/nbproject/private/
/distributables/.Old_Dist/speechRecon/build/
/distributables/.Old_Dist/speechRecon/dist/
/distributables/.Old_Dist/speechRecon/nbproject/private/
/BogusExperimentData/nbproject/private/
/loadGen01/nbproject/private/
/BogusExperimentData/build/
/loadGen01/build/